=nav_link 'Unassigned | ', tickets_path(filter: 'unassigned')
=nav_link 'Open | ', tickets_path(filter: 'open')
=nav_link 'On hold | ', tickets_path(filter: 'on_hold')
=nav_link 'Closed', tickets_path(filter: 'closed')
